/*--------------- basic styling --------------- */
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  display: flex;

  flex-direction: column;
  font-family: "Lato", sans-serif;
}
div {
  border-radius: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  flex: 1;
}

.col-sm-6 {
  height: 500px;
  position: relative;
}

/*--------------Header and Link Styling----------*/
a {
  color: black;
}
a:hover {
  text-decoration: underline;
}

.header {
  margin-top: 60px;
  margin-bottom: 60px;
}

.nav-link.main {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
  vertical-align: bottom;
  line-height: 50px;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  vertical-align: bottom;
  line-height: 50px;
}
li.nav-item {
  display: inline;
  float: right;
}
/*-------------- About Section ----------*/

article {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.col-sm-6.profile-pic {
  border: solid #eee 1px;
  align-content: center;
}

.profile-pic-inner {
  height: 100px;
  width: 100px;
  border: solid #eee 1px;
}

div.profile-text {
  display: table;
}

.breaker {
  color: #e0ebe8;
  margin: 12px;
}

/*--------------Video List Section--------------*/

.col-sm-6.video-list {
  overflow: scroll;
  overflow-x: hidden;
}
/*--------------Animations for video selector--------------*/
.video-item {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.video-item:hover {
  transform: scale(1.1);
  z-index: 1;
  cursor: pointer;
}

.video-card.title {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%; /* Adjust this value to move the positioned div up and down */
  background: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  color: #fff;
  width: 80%; /* Set the width of the positioned div */
}

/*-------------- Video Detail ----------*/

.col-sm-6.video-detail {
  border: solid #eee 1px;
}

.video-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

  text-align: center;
}

.wrapper {
  margin-top: 10%;
}

/*--------------  Pricing Cards----------*/
#card {
  height: 500px;
}

img.card-icon {
  height: 48px;
  margin: 12px;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.pricing-container {
  margin-top: 1%;
  margin-bottom: 1%;
}

.card.text-center {
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position: relative;
}

.card.text-center {
  overflow: auto;
}

.card-text ul {
  margin: 24 24;
  padding: 0;
  list-style: none;
  text-align: center;
}

.card-text li {
  padding: 10px 0;
}
/*--------------Inquiries Styling--------------*/

/*--------------Footer Styling--------------*/
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/) {
  .ft-main {
    justify-content: space-evenly;
  }
}

.ft-credits {
  padding: 0.9375rem 1.875rem;
  background-color: #555;
}
.ft-credits-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-credits-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-credits-list li:nth-last-child(2) {
  flex: 1; /* same as flex-grow: 1; */
}

/*-------------- Styling for social brands----------*/
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

img.social-icon {
  max-width: auto;
  height: 50px;
  padding: 5px;
  fill: #fff;
}

#twitter {
  max-width: auto;
  height: 50px;
  padding: 0px;
  fill: #fff;
}

img.social-icon::selection {
  color: #fff;
}

#invert {
  filter: invert(100%);
}
