footer {
  background-color: lightgray;
  padding: 4em 0;
}

a {
  color: black;
}
a:hover {
  color: greenyellow;
}

body {
  margin: 0;
}

#section {
  height: 80vh;
}

.social-follow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  /*Styling for social brands */
  max-width: 50px;
  height: auto;
  padding: 5px;
}

#card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 50vh;
}

/* On mouse-over, add a deeper shadow */
#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 3em;
  height: auto;
  padding-top: 16%;
  padding-bottom: 16%;
}

.bullet-item::before {
  content: "✓";
  margin-right: 0.5em;
}
div .price {
  padding-top: 16%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.headshot {
  border-radius: 50%;
  height: auto;
  width: 16vw;
}

.breaker {
  padding: 2em 0;
  text-align: center;
}

.col {
  transition: 1s transform;
  transform-origin: top center;
  float: left;
}

.hover-card:hover {
  transform: scale(2);
}

.hover-card:hover .overlay-title {
  opacity: 1;
  touch-action: auto;
  transform: scale(1);
}

.content {
  width: 200%;
  height: 200;
  transform: scale(0.5) translateZ(0px);
  transform-origin: top left;
}
